/* style.css */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px; 
    font-weight: 300;
}

.nav a:hover {
    color: #F9FAF8;
    text-decoration: none;
    font-weight: 300;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    gap: 50px;
}

.info-element {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-image{
    border-radius: 20px;
    border-color: #3882F6;
    border-width: 5px;
    border-style: solid;
    width: 200px;
    height: 200px;  
}

.info-text{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    margin-top: 10px;
    max-width: 170px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section {
    max-width: 830px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
    
}

.quote-author {
    align-self: flex-end;
    margin-right: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
}

.cta-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 60px 40px;
    justify-content: center;
}

.cta-title{
    font-size: 24px;
    font-weight: bold;
}

.cta-button{
    background-color: transparent;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    align-items: right;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0;
}